<div class="tab-pane fade" id="genre" role="tabpanel" aria-labelledby="genre-tab">
  <div class="container text-center">
    <div class="content  mx-auto row" style="min-width=100%;">
      {% for genre in all_genres %}
      <!-- carda -->
      <a class="col-2" href="{% url 'movies:genre_movie_list' genre.pk %}">
        <div class="carda p-0 col-sm-1" style="padding: 0 0 !important;">
          <div class="icon">
            <i class="material-icons md-35">
              <h4 class="text">{{genre.original_name}}</h4>
            </i></div>
          <p class="title" style="font-family:'Gothic A1', sans-serif; ">{{genre}}</p>

        </div>
      </a>
      <!-- end card -->
      {% endfor %}
    </div>
  </div>
</div>