<div class="container text-center">
<h2>장르별 영화추천 ^^</h2>
<div class="content scrolling-wrapper mx-auto">
  {% for genre in all_genres %}
    <!-- carda -->
    <a class="col-2" href="{% url 'movies:genre_movie_list' genre.pk %}">
      <div class="carda col-1">
      <div class="icon"><i class="material-icons md-36"><p class="text">{{genre.original_name}}</p></i></div>
          <p class="title">{{genre}}</p>
          <p class="text">Click to see genre page.</p>
      </div>
    </a>
    <!-- end card -->
  {% endfor %}
</div>
</div>