 {% load static %}
 <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-dark" style="height:5.5rem; background-color: white !important;">
   <div class="order-1 order-md-0">

     <a class="navbar-brand" href="{% url 'movies:index' %}"><img src="{% static 'movies/images/temp_logo2.png' %}" style="width:20rem; height:5rem;" alt=""></a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
       aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
   </div>
   <div class="ml-auto order-2">
     <div class="collapse navbar-collapse" id="navbarNav">
       <ul class="navbar-nav">

         {% if user.is_staff %}
         <li class="nav-item">
           <a class="nav-link" href="{% url 'accounts:staff' %}">Admin PAGE</a>
         </li>
         {% endif %}
         
       </ul>
     </div>
   </div>
                                                                                
  <div class="mr-0 order-3">
      <li class="nav-item dropdown" style=" list-style: none;">
        <a class="nav-link dropdown-toggle" href="#" style="color:black;" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <b style="font-family: 'Source Sans Pro', sans-serif; font-size: 1.5rem;">Welcome, 
        {% if user.is_authenticated %}
         {{ request.user }}!
         {% else %}
            stranger!
        {% endif %}
        </b>
        <div class="dropdown-menu aria-labelledby="navbarDropdownMenuLink">
        {% if user.is_authenticated %}
          <a class="dropdown-item" href="{% url 'accounts:userdetail' user.pk %}" style="font-family: 'Rubik', sans-serif;"><i class="far fa-address-card"></i> User Profile</a>
          <a class="dropdown-item" href="{% url 'movies:like_movie_list' %}" style="font-family: 'Rubik', sans-serif;"><i class="fas fa-film"></i> Like Movies List</a>
          <a class="dropdown-item" href="{% url 'movies:like_actor_list' %}" style="font-family: 'Rubik', sans-serif;"><i class="far fa-smile"></i> Like Actors List</a>
          <div style="border-top: 1px solid grey;">
          <a class="dropdown-item" href="{% url 'accounts:logout' %}" style="font-family: 'Rubik', sans-serif;">Logout</a>
          </div>
         {% else %}
           <a class="dropdown-item" href="{% url 'accounts:login' %}" style="font-family: 'Rubik', sans-serif;">Login</span></a>
           <a class="dropdown-item" href="{% url 'accounts:signup' %}" style="font-family: 'Rubik', sans-serif;">Signup</a>
         {% endif %}
        </div>
        </a>
        
      </li>        
    </ul>
  </div>
</nav>

