{% extends 'movies/base.html' %}
{% load static %}
{% load bootstrap4 %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
</script>
<script src="{% static 'movies/animation.js' %}" >
</script> 
{% block content %} 
<div class="container shadow" style="background-color: #E0E0E0;">
  <h1 style="margin-left: 2rem;">{{ movie.original_title }}</h1>
  <h5 style="margin-left: 4rem; color:black; opacity:0.7; font-family:'Do Hyeon'">{{ movie.title}}</h5>
  <h6 style="margin-left: 4rem; color:grey;">Release_date : {{ movie.release_date}} </h6>
  
  <hr style="opacity:0.4;">
  
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="False">
    <div class="carousel-inner " data-interval="False">
      <div class="carousel-item  p-1 active" data-interval="False" style="background-color:black; text-align:center;">
        <img class="d-block w-80 mx-auto" src="https://image.tmdb.org/t/p/w500/{{ movie.backdrop_path }}" style="width:750px; height:429px;" alt="img">
      </div>
      <div class="carousel-item p-1" data-interval="False">
        <iframe class="d-block w-100 mx-auto" width="750" height="492" src="{{ movie.video }}?autoplay=1&mute=1" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <p>previous</p>
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">
      Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <p> next </p>
      <span class="sr-only">next</span>
    </a>
  </div>

  <div class="p-4 row justify-content-between">
    <h5>장르:
    {% for genre in genres %}
    <b>{{ genre }}</b>
    {% endfor %}</h5>
    <div>
    <h5 style="color: black; opacity: 0.7;"> <b style= "font-family:"> Bono Movie  </b> 에서 <span style="color:blue;" id="like-count-{{ movie.pk }}">{{ movie.like_users.count }}</span> 명이 좋아하는 영화!</h5>
    </div>
    
  </div>
  <p style="text-align:  right; margin-right:30px;">
  {% if user.is_authenticated %}
{% if user in movie.like_users.all %}
<b style="color:grey;">좋아요 </b><i class="fas fa-heart like-button" style="font-size: 20px; color: crimson; cursor:pointer;" data-id="{{ movie.pk }}"></i>
{% else %}
<b style="color:grey;">좋아요 </b><i class="far fa-heart like-button" style="font-size: 20px; color: black; cursor:pointer;" data-id="{{ movie.pk }}"></i>
{% endif %}
{% endif %}</p>
    <div class="container">
    <h3 style="color: black; opacity: 0.7;">Overview</h3>
      <h6 style="font-family: 'Noto Serif KR', serif; font-weight:200; opacity: 0.5; padding:15px;">{{movie.overview}}
      </h6>
    </div>  


</div>
</div>




<!--영화 디테일-->
<div class="container" style="background-color: #E0E0E0; opacity: 0.6;!important">
<hr>
<h3 class="text-center shadow-sm" style="background-color: #E0E0E0; font-weight: bolder; font-size: 3rem; ">CAST</h3>
<hr>
</div>


<div class="container my-3" >
<div class="card-deck" style="align-items: center; ">
{% for actor in actors %}
<div class="card text-center shadow" style="font-family: 'Alatsi', sans-serif;  letter-spacing: 1px; font-size: 22px; width:18rem; height:100%; border-radius: 5px; border: 2px solid rgba(7, 17, 7, 0.12); box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);">
<img src="https://image.tmdb.org/t/p/w500/{{actor.profile_path}}" alt="" style="max-width:100%;max-height:100%;">
      <p> {{ actor.name }}
      <br>
        {% if user in actor.like_users.all %}
        <i class="fab fa-gratipay like-button2" style="  font-size: 20px; color: crimson; cursor:pointer;" data-id="{{ movie.pk }}" data-id2="{{ actor.pk }}"></i>
        {% else %}
        <i class="fab fa-gratipay like-button2" style="font-size: 20px; color: black; cursor:pointer;" data-id="{{ movie.pk }}" data-id2="{{ actor.pk }}"></i>
        {% endif %}</p>
    <div class="card-footer" style="height: 70px; margin-bottom:0; background-color: #F2F2EB !  important; line-height: 80%; opacity: 0.7;">
      <small class="text-bolder" style="font-family: 'Merriweather', serif !important;">{{ actor.character }}</small>
    </div>
</div>
{% endfor %}
</div>
</div>

<div class="container">
<h3 style="font-family: 'Sunflower', sans-serif; font-weight: 500; margin-top:50px; margin-left: 20px;">댓글 목록</h3>
<!-- 댓글 출력 -->
{% for rating in ratings %}
<div class="container shadow-sm" style="background-color: grey; background-color: rgba(0, 0, 0, 0.1); border-radius:5px;">

<a href="{% url 'accounts:userdetail' rating.user.pk %}">{{ rating.user }}</a>
   <h5>No.{{ forloop.revcounter }} </h5> <h6>평점 : {{ rating.score }}</h6>
   <div class="bg-light" style="border: 2px solid white; font-weight: bold;font-family: 'Sunflower', sans-serif;
border-radius: 5px;">
    <p style="font-size: 24px !important;">{{ rating.content }}</p>
    </div>
  {% if request.user == rating.user %}
  <a href="{% url 'movies:rating_update' movie.pk rating.pk %}"><button type="button" class="btn btn-primary" style="opacity:0.7;">수정</button></a>
    <form action="{% url 'movies:ratings_delete' movie.pk rating.pk %}" method="POST" style="display: inline;">
      {% csrf_token %}
      <button type="button" class="btn btn-danger" style="opacity:0.7;">삭제</button>
    </form>
  {% endif %}
  </div>
{% empty %}
  <p><b>댓글이 없습니다.</b></p>
{% endfor %}
</div>
</div>




<!--댓글 입력-->
<div class="container" style="width:40%; border: 4px ridge rgba(107,91,63,0.41);
border-radius: 16px; padding: 20px 20px ; margin-bottom: 10px; margin-top: 10px;">
{% if request.user.is_authenticated %}
<form action="{% url 'movies:ratings_create' movie.pk %}" method="POST">
  {% csrf_token %}
  {% bootstrap_form rating_form %}
 <button type="submit" class="btn btn-primary btn-sm">작성</button>
</form>
{% endif %}

</div>
{% if user.is_staff %}
<div class="row justify-content-end" >
<a href="{% url 'movies:update' movie.pk %}" class="btn btn-success" style="margin-right:10px;">MOVIE EDIT</a>
<form action="{% url 'movies:delete' movie.pk %}" method="post">
{% csrf_token %}
</form>
<input type="submit" value="MOVIE DELETE" class="btn btn-danger mr-3">
{% endif %}
</div>


<script>
  const likeButtons = document.querySelectorAll('.like-button')
  likeButtons.forEach(button => {
    button.addEventListener('click', function (event) {
      console.log(event)
      const movieId = event.target.dataset.id

      axios.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest'
      axios.defaults.xsrfCookieName = 'csrftoken'
      axios.defaults.xsrfHeaderName = 'X-CSRFToken'
      axios.post(`/movies/${movieId}/like/`)
        .then(response => {
          console.log(response)
          document.querySelector(`#like-count-${movieId}`).innerText = response.data.count
          if (response.data.liked) {
            event.target.style.color = 'crimson'
            event.target.className = 'fas fa-heart like-button' 
          } else {
            event.target.style.color = 'black'
            
            event.target.className = 'far fa-heart like-button' 
          }
          })
            .catch(error => console.log(error))
    })
  })
  
  const likeButtons2 = document.querySelectorAll('.like-button2')
  likeButtons2.forEach(button => {
    button.addEventListener('click', function (event) {
      console.log(event)
      //
      const movieId2 = event.target.dataset.id
      const actorId2 = event.target.dataset.id2
      axios.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest'
      axios.defaults.xsrfCookieName = 'csrftoken'
      axios.defaults.xsrfHeaderName = 'X-CSRFToken'

      axios.post(`/movies/${movieId2}/like_actor/${actorId2}/`)
        .then(response => {
          console.log(response)
          //document.querySelector(`#like-count-${actorId}`).innerText = response.data.count
          if (response.data.liked) {
            event.target.style.color = 'crimson'
          } else {
            event.target.style.color = 'black'
          }
          })
            .catch(error => console.log(error))
    })
    
  })

  
</script>
{% endblock content %}