{% extends 'movies/base.html' %}
{% block content %}
<h1>DETAIL PAGE</h1>
{% if user.is_staff %}
<a href="{% url 'movies:update' movie.pk %}" class="btn btn-success">MOVIE EDIT</a>
<form action="{% url 'movies:delete' movie.pk %}" method="post">
{% csrf_token %}
<input type="submit" value="MOVIE DELETE" class="btn btn-danger">
</form>
{% endif %}
<!-- 댓글 출력 -->
{% for rating in ratings %}
<div>
<a href="{% url 'accounts:userdetail' rating.user.pk %}">{{ rating.user }}</a>
  : {{ forloop.revcounter }} : {{ rating.content }} : {{ rating.score }}
  {% if request.user == rating.user %}
    <form action="{% url 'movies:rating_update' movie.pk rating.pk %}" method="post">
    {% csrf_token %}
    <input type="submit" value="EDIT">
    </form>
    <form action="{% url 'movies:ratings_delete' movie.pk rating.pk %}" method="POST" style="display: inline;">
      {% csrf_token %}
      <input type="submit" value="DELETE">
    </form>
  {% endif %}
  </div>
{% empty %}
  <p><b>댓글이 없습니다.</b></p>
{% endfor %}
<hr>
<!--댓글 입력-->
{% if request.user.is_authenticated %}
<form action="{% url 'movies:ratings_create' movie.pk %}" method="POST">
  {% csrf_token %}
  {{ rating_form }}
  <input type="submit" value="submit">
</form>
{% endif %}
<!--영화 디테일-->
{{ movie.title }}
<img src="https://image.tmdb.org/t/p/w500/{{ movie.backdrop_path }}" alt="img">
장르:

{% for genre in genres %}
<b>{{ genre }}</b>
{% endfor %}
</div>
<iframe width="425" height="349" src="{{ movie.video }}?autoplay=1&mute=1" frameborder="0" allowfullscreen></iframe>
<div class="col-4" style="border: 1px solid black;">
<h3>Overview</h3>
{{movie.overview}}
</div>
<div class="container">
<div class="card-deck">
{% for actor in actors %}

<div class="card text-center" style="width:18rem; height:25rem;">
<img src="https://image.tmdb.org/t/p/w500/{{actor.profile_path}}" alt="" style="max-width:100%;max-height:100%;">
      <p> {{ actor.name }}
      <br>
      {% if user in actor.like_users.all %}
      <i class="fab fa-gratipay like-button2" style="font-size: 20px; color: crimson;" data-id="{{ movie.pk }}" data-id2="{{ actor.pk }}"></i>
      {% else %}
      <i class="fab fa-gratipay like-button2" style="font-size: 20px; color: black;" data-id="{{ movie.pk }}" data-id2="{{ actor.pk }}"></i>
      {% endif %}</p>
      <div class="card-footer">
      <small class="text-bolder">{{ actor.character }}</small>
    </div>
</div>
{% endfor %}

<script>
  const likeButtons = document.querySelectorAll('.like-button2')
  likeButtons.forEach(button => {
    button.addEventListener('click', function (event) {
      console.log(event)
      //
      const movieId = event.target.dataset.id
      const actorId = event.target.dataset.id2
      axios.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest'
      axios.defaults.xsrfCookieName = 'csrftoken'
      axios.defaults.xsrfHeaderName = 'X-CSRFToken'
      axios.post(`/movies/${movieId}/like_actor/${actorId}/`)
        .then(response => {
          console.log(response)
          //document.querySelector(`#like-count-${actorId}`).innerText = response.data.count
          if (response.data.liked) {
            event.target.style.color = 'crimson'
          } else {
            event.target.style.color = 'black'
          }
          })
            .catch(error => console.log(error))
    })
    
  })
</script>
{% endblock content %}