{% extends 'movies/base.html' %}

{% block content %}

<h1>Main Page</h1>
  <ul>
  <hr>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="recommend-tab" data-toggle="tab" href="#recommend" role="tab" aria-controls="recommend" aria-selected="true">추천</a>
  </li>
  <li class="nav-item">  
    <a class="nav-link" id="average-tab" data-toggle="tab" href="#average" role="tab" aria-controls="average" aria-selected="false">평점</a>
  <li class="nav-item">
    <a class="nav-link" id="genre-tab" data-toggle="tab" href="#genre" role="tab" aria-controls="genre" aria-selected="false">장르</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
{% include 'movies/_recommend.html' %}
{% include 'movies/_vote_average.html' %}
{% include 'movies/_genre_bar.html' %}
</div>
  <hr>
  {% for movie in movies %}
  <li><a href="{% url 'movies:detail' movie.pk %}">{{ movie.title }}</a>
    {{ movie.popularity }}
    |
      {% if user.is_authenticated %}
      {% if user in movie.like_users.all %}
 
      <i class="fas fa-heart like-button" style="font-size: 20px; color: crimson;" data-id="{{ movie.pk }}"></i>
      {% else %}
  
      <i class="far fa-heart like-button" style="font-size: 20px; color: black;" data-id="{{ movie.pk }}"></i>
      {% endif %}
      {% endif %}
      <span id="like-count-{{ movie.pk }}">{{ movie.like_users.count }}</span> 명이 좋아합니다.
  </li>
  {% endfor %}
</ul>
  
<script>
  const likeButtons = document.querySelectorAll('.like-button')
  likeButtons.forEach(button => {
    button.addEventListener('click', function (event) {
      console.log(event)
      const movieId = event.target.dataset.id
      axios.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest'
      axios.defaults.xsrfCookieName = 'csrftoken'
      axios.defaults.xsrfHeaderName = 'X-CSRFToken'
      axios.post(`/movies/${movieId}/like/`)
        .then(response => {
          console.log(response)
          document.querySelector(`#like-count-${movieId}`).innerText = response.data.count
          if (response.data.liked) {
            event.target.style.color = 'crimson'
            event.target.className = 'fas fa-heart like-button' 
          } else {
            event.target.style.color = 'black'
            
            event.target.className = 'far fa-heart like-button' 
          }
          })
            .catch(error => console.log(error))
    })
  })
</script>

{% endblock content %}