{% extends 'movies/base.html' %}
{% load static %}

{% block content %}

  
  <ul class="nav nav-tabs" id="myTab" role="tablist" style=" font-family: 'Jua', sans-serif; font-size: 24px; letter-spacing: 2px; opacity: 0.8; background: url({% static 'movies/images/wallpaper2.png' %})">
  {% if user.is_authenticated and like_movie.count > 0 %}
  <li class="nav-item">
    <a class="nav-link active" style="color:black;" id="recommend-tab" data-toggle="tab" href="#recommend" role="tab" aria-controls="recommend" aria-selected="true">추천</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" style="color:black;" id="popularity-tab" data-toggle="tab" href="#popularity" role="tab" aria-controls="popularity" aria-selected="false">인기도</a>
  </li>
  {% else %}
  <li class="nav-item">
    <a class="nav-link active" style="color:black;" id="popularity-tab" data-toggle="tab" href="#popularity" role="tab" aria-controls="popularity" aria-selected="true">인기도</a>
  </li>
  {% endif %}
  <li class="nav-item">  
    <a class="nav-link" style="color:black;" id="average-tab" data-toggle="tab" href="#average" role="tab" aria-controls="average" aria-selected="false">평점</a>
  <li class="nav-item">
    <a class="nav-link" style="color:black;" id="genre-tab" data-toggle="tab" href="#genre" role="tab" aria-controls="genre" aria-selected="false">장르</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" style="color:grey;" href="{% url 'movies:all_movies' %}" role="button" aria-selected="false">모든 영화</a>
  </li>
</ul>

<div class="tab-content shadow" id="myTabContent" style="background: url({% static 'movies/images/wallpaper2.png' %}); min-height: 100%;
    height: auto !important;
    height: 100%;" >
  
{% if user.is_authenticated and like_movie.count > 0 %}
  {% include 'movies/_recommend.html' %}
{% endif %}
{% include 'movies/_popularity.html' %}
{% include 'movies/_vote_average.html' %}
{% include 'movies/_genre_bar.html' %}
</div>

  


{% endblock content %}