{% extends 'movies/base.html' %}


{% block content %}

  
  <ul class="nav nav-tabs" id="myTab" role="tablist" style=" font-family: 'Jua', sans-serif; font-size: 24px; letter-spacing: 2px; opacity: 0.8;">

  {% if user.is_authenticated and like_movie.count > 0 %}
  <li class="nav-item">
    <a class="nav-link active" style="color:black;" id="recommend-tab" data-toggle="tab" href="#recommend" role="tab" aria-controls="recommend" aria-selected="true">추천</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" style="color:black;" id="popularity-tab" data-toggle="tab" href="#popularity" role="tab" aria-controls="popularity" aria-selected="false">인기도</a>
  </li>
  {% else %}
  <li class="nav-item">
    <a class="nav-link active" style="color:black;" id="popularity-tab" data-toggle="tab" href="#popularity" role="tab" aria-controls="popularity" aria-selected="true">인기도</a>
  </li>
  {% endif %}
  <li class="nav-item">  
    <a class="nav-link" style="color:black;" id="average-tab" data-toggle="tab" href="#average" role="tab" aria-controls="average" aria-selected="false">평점</a>
  <li class="nav-item">
    <a class="nav-link" style="color:black;" id="genre-tab" data-toggle="tab" href="#genre" role="tab" aria-controls="genre" aria-selected="false">장르</a>
  </li>
</ul>

<div class="tab-content shadow" id="myTabContent" style="">
  
{% if user.is_authenticated and like_movie.count > 0 %}
  {% include 'movies/_recommend.html' %}
{% endif %}
{% include 'movies/_popularity.html' %}
{% include 'movies/_vote_average.html' %}
{% include 'movies/_genre_bar.html' %}
</div>
<div class="footer text-right">
  <p style="color: grey; font-weight: bolder; margin-bottom:0; margin-right:10px;">Team SPH</p>
</div>
  
<script>
  const likeButtons = document.querySelectorAll('.like-button')
  likeButtons.forEach(button => {
    button.addEventListener('click', function (event) {
      console.log(event)
      const movieId = event.target.dataset.id
      axios.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest'
      axios.defaults.xsrfCookieName = 'csrftoken'
      axios.defaults.xsrfHeaderName = 'X-CSRFToken'
      axios.post(`/movies/${movieId}/like/`)
        .then(response => {
          console.log(response)
          document.querySelector(`#like-count-${movieId}`).innerText = response.data.count
          if (response.data.liked) {
            event.target.style.color = 'crimson'
            event.target.className = 'fas fa-heart like-button' 
          } else {
            event.target.style.color = 'black'
            
            event.target.className = 'far fa-heart like-button' 
          }
          })
            .catch(error => console.log(error))
    })
  })
</script>

{% endblock content %}