{% extends 'movies/base.html' %}
{% block content %}
<div class="container">

<h2 class="text-center">{{ user }}님이 <b class='text-info'>좋아요</b>한 영화 목록</h2>
<div class="row justify-content-between">
  {% for movie in like_movie %}
  <div class="my-5 mx-3" style="width:15rem;height:20rem; ">
    {{ movie.title }}
    {% for genre in movie.genres.all %}
    {{ genre }}
    {% endfor %}
    <a href="{% url 'movies:detail' movie.pk %}"><img src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}" alt="img" style="max-width:100%;
max-height:100%;"></a>
  </div>
  {% endfor %}
  </div>

</div>
{% endblock content %}