{% extends 'movies/base.html' %}
{% block content %}
<div class="body" style="background-color: grey; background-color: rgba(0, 0, 0, 0.1);">
  <div class="container">
    <h2 class="text-center">{{ user }}님이 <b class='text-info'>좋아요</b>한 배우 목록</h2>
    <div class="l-container">
      <ul>
        {% for actor in like_actor %}
        <li class="list mx-auto" style="max-width:67%;">
          <div class="list__profile">
            <div> <img src="https://image.tmdb.org/t/p/w500/{{ actor.profile_path }}"
                style="width: 8rem; height:11rem;">
            </div>
            <div class="list__label">
              <div class="list__label--header"> {{ actor.character }} </div>
              <div class="list__label--value text-dark"> {{ actor.name }} </div>
            </div>
          </div>
        </li>
        </a>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock content %}