*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}


/* 기본세팅 */

.bg-box {
  height: 100%;

  /* bg image */
  background-image: white url("images/"background1.jpg") no-repeat;
  /* background-size */
  background-size: 670px 500px;
  background-size: contain;
  background-size: cover;


  background-repeat: no-repeat;

  background-position: 0, 0;
  background-position: center;


  background-attachment: fixed;
}