{% extends 'movies/base.html' %}
{% block content %}
<div class="container mt-3">
<div class="card border-light mb-3">
  <div class="card-header text-center"><h2>관리자 페이지</h2></div>
  <div class="card-body">
    <div class="row d-flex justify-content-between">

    <h5 class="card-title">Users List</h5>
      {% if user.is_staff %}
     <a href="{% url 'movies:create' %}" class="btn btn-info">새 영화 등록</a>
      {% endif %}
   
      </div>
    <hr>
    <ul>
    {% for user in users %}
    <li class="card-text mb-3">{{ user }}
      <form action="{% url 'accounts:delete' user.pk %}" method="post" style="display: inline;">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">회원 삭제</button>
      </form>
    </li>
    {% endfor %}
    </ul>
    </div>
  </div>
</div>
{% endblock content %}