
{% extends 'movies/base.html' %}
{% load bootstrap4 %}
{% load static %}
{% load socialaccount %}

{% block content %}
<div class="login row">
<br>
<div class="container mt-1 p-4 bg-dark text-light col-3 col-md-4" style="opacity: 0.9; width: 450px; min-height: 450px; padding: 48px 40px 36px; border: 1px solid black;">
    <h2 class="text-center">로그인</h2>
    <hr>
    <form action="" method='post'>
        {% csrf_token %}
        {% bootstrap_form form %}
        <br>
        <div class="row justify-content-center">
            {% buttons submit="로그인"  %}{% endbuttons %}
        </div>
       
        <hr class="divider"></hr>

        <h6>소셜 계정으로 로그인</h6>
        <div class="row justify-content-center mb-2">
            <a href="{% provider_login_url "kakao" %}"><img src="{% static 'movies/images/kakao_account_login_btn_medium_narrow.png' %}" style="width:185px; height:43px;" alt=""></a>
        </div>
        
        <div class="row justify-content-center mb-2">
        <a href="{% provider_login_url "google" %}"><img src="{% static 'movies/images/google_button.png' %}" style="" alt="">
        </a>
        </div>
    </form>
</div>
</div>
{% endblock content %}
